.name {
color:purple; font-size: 20px; font-family:"Trebuchet MS", Helvetica, sans-serif;
  text-align: center; border-style: double;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: white;
  padding 20px 
}
.email { font-style:italic; font-family: "Trebuchet MS", Helevetica; font-size: 16px; 
  text-align: center; }

.address { text-align: center; font-family: "Trebuchet MS", Helevetica, sans-serif;
}

h4 { color:teal; font-family:"Trebuchet MS", Helvetica; font-size 32px;text-decoration:underline;
}

.meat { color:rgb(88,88,88); font-family: "Trebuchet MS", Helvetica; font-size 14px; }

.references { text-align: center;

}

.blah { font-family: "Lato", Helvetica; font-size: 12px; font-style: italic; text-align:center; }

.tab { text-indent: 50px;}

.profile {font-family: "Trebuchet MS", Helvetica; font-weight: lighter; }

.school { font-family: "Trebuchet MS", Helvetica; font-style: italic; font-weight: lighter;
}

.job { font-family: sans-serif; font-weight: bold;

}
