.name {
color:purple; font-family:"Trebuchet MS", Helvetica, sans-serif;
  text-align: center; 
  padding 30px
}
.email { font-style:italic; font-family: "Lato", Helevetica; font-size: 10px; 
  text-align: center; }

.address { text-align: center; font-family:"Trebuchet MS", Helevetica, sans-serif;
}

h4 { color:teal; font-family:"Lato", Helvetica; font-size 32px;text-decoration:underline;
}

.meat { color: purple; font-family:"Lato", Helvetica; font-size 14px; }

.references { text-align: center;

}

.blah { font-size: 18px; font-style: italic; text-align:center; }


